torch==1.12.1+cu113 -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.13.1+cu113 -f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.12.1 -f https://download.pytorch.org/whl/torch_stable.html
git+https://github.com/huggingface/transformers
git+https://github.com/huggingface/datasets
librosa
jiwer
evaluate>=0.3.0
more-itertools
tensorboard
