torch==1.12.1+cu116 -f --extra-index-url https://download.pytorch.org/whl/cu116
torchvision==0.13.1+cu116 -f --extra-index-url https://download.pytorch.org/whl/cu116
torchaudio==0.12.1 -f --extra-index-url https://download.pytorch.org/whl/cu116
git+https://github.com/huggingface/transformers
git+https://github.com/huggingface/datasets
librosa
jiwer
evaluate>=0.3.0
more-itertools
tensorboard
